{% extends "base.html"%}

<!--  не забудь блок head   -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='search.css') }}">
{% endblock %}

{% block content %}
    <div class="posts">
        {% for result in results.data %}
        <div class="post" id={{ result[0] }}>
           <span class="user-id">User id {{ result[0] }}</span>
                    <div class="rubrics">
                    {% for rubric in  result[1] %}
                         <div class="rubric"> 
                            {{ rubric }}
                     </div> 
                    {% endfor %}
                    </div>
            <p class="text">{{ result[2] }}</p> 
            <br>
            <div class="data">{{ result[3] }}</div>
            <hr>
        </div>
    </div>
    {% endfor %}

{% endblock %}

